@import "colors";

[class*="shake"] {
  transition: all 0.3s ease-out;
  transform: initial;
  opacity: .3;
}

[class*="scale"] {
  transition: all 0.4s cubic-bezier(0, -0.1, 0.6, 1.1);
  transform: initial;
}

.shake-up {
  transform: translateY(-6px);
}

.shake-down {
  transform: translateY(6px);
}

.scale-up {

}

.scale-down {

}

.active {

  &.shake-up {
    transform: translateY(0);
    opacity: 1;
  }

  &.shake-down {
    transform: translateY(0);
    opacity: 1;
  }

  &.scale-up {
    transform: scale(1.05);
  }

  &.scale-down {
    transform: scale(0.9);
  }

}

@keyframes slidein {
  from {
    margin-top: 0;
    opacity: 1.0;
  }

  to {
    margin-top: 24px;
    opacity: 0;
  }
}

@mixin nice-white-box-shadow() {
  box-shadow: 0 1px 4px $white-color-light,
  0 0 40px $white-color inset;
}

@keyframes fade1 {
  0% {
    @include nice-white-box-shadow;
    background: $secondary2-color;
  }
}

@keyframes fade2 {
  33% {
    @include nice-white-box-shadow;
    background: $secondary2-color;
  }
}

@keyframes fade3 {
  66% {
    @include nice-white-box-shadow;
    background: $secondary2-color;
  }
}
