[class*="shake"] {
  transition: all 0.7s ease-out;
  transform: initial;
}

[class*="scale"] {
  transition: all 0.7s ease-out;
  transform: initial;
}

.active {

  &.shake-up {
    transform: translateY(-20px);
  }

  &.shake-down {
    //transform: translate3d(213px, 0px, 0px);
    transform: translateY(20px);
  }

  &.scale-up {
    transform: scale(1.1);
  }

  &.scale-down {
    transform: scale(0.9);
  }

}


@keyframes slidein {
  from {
    margin-top: 0;
  }

  to {
    margin-top: 20px;
  }
}
