[class*="shake"] {
  transition: all 0.7s ease-out;
  transform: initial;
}

[class*="scale"] {
  //transition: all 0.7s ease-out;
  //transform: initial;
  transform: scale(1.1);
}

.active {

  &.shake-up {
    transform: translateY(-20px);
  }

  &.shake-down {
    //transform: translate3d(213px, 0px, 0px);
    transform: translateY(20px);
  }

  &.scale-up {
    animation-duration: 0.7s;
    animation-name: scale-from-zoom-to-default;
    //animation-iteration-count: infinite;
    //animation-direction: alternate;
    //animation-iteration-count: 1;
    //animation-timing-function: ease-in-out;
    animation-direction: normal;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
  }

  &.scale-down {
    transform: scale(0.9);
  }

}

@keyframes scale-from-zoom-to-default {
  0% {
    transform: scale(1.1);
  }

  100% {
    transform: scale(1.0);
  }
}

@keyframes slidein {
  from {
    margin-top: 0;
    opacity: 1.0;
  }

  to {
    margin-top: 20px;
    opacity: 0.6;
  }
}
