/*
 Pallete
 http://paletton.com/#uid=72V0u0kw0z5jEFvp5Ab-cq5DQkw
*/

$black-color: #16161d;
$black-border-color: rgba(0, 0, 0, 0.13);
$black-color-light: lighten($black-color, 40%);

$white-color: #ffffff;
$white-color-light: #F2F2F2;

$primary-color: #00C33B;
$primary-color-lightest: #51D278;
$primary-color-light: #2BC75A;
$primary-color-dark: #009A2E;
$primary-color-darkest: #007925;

$secondary1-color: #0684A8;
$secondary1-color-lightest: #4DA5BE;
$secondary1-color-light: #2A91AE;
$secondary1-color-dark: #046681 ;
$secondary1-color-darkest: #025066;

$secondary2-color: #FF8100;
$secondary2-color-lightest: #FFB162;
$secondary2-color-light: #FF9C37;
$secondary2-color-dark: #D06900 ;
$secondary2-color-darkest: #A35200;

$complement-color: #FF2300;
$complement-color-lightest: #FF7862;
$complement-color-light: #FF5237;
$complement-color-dark: #D01C00;
$complement-color-darkest: #A31600;
