@import "fonts";

html, body {
  font-family: $fontDefaultFamily;
  margin: 0;
  padding: 0;
}

body {
  font-family: $fontDefaultFamily;
  overflow: hidden;
}

h1 {
  max-width: 99vw;
  color: $white-color;
  font-family: $fontDefaultFamily;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 5vmax;
}

p {
  font-size: 2em;
}

a {
  color: inherit;
  text-decoration: underline;
  outline-color: transparent;
}

input {
  &:disabled {
    background-color: hsl(0, 0%, 87%);
  }
}
