$fontFamily: 'Lato', sans-serif;

html, body {
  font-family: $fontFamily;
  margin: 0;
  padding: 0;
}

body {
  font-family: $fontFamily;
  overflow: hidden;
}

h1 {
  font-size: 6em;
}

p {
  font-size: 2em;
}

a {
  color: inherit;
  text-decoration: underline;
}
