$downButtonSize: 24px;
$downButtonImage: url(../images/down.svg);

section:not(.active) {
  [downbutton] {
    display: none;
  }
}

[downbutton]:not([hidden]) {
  position: absolute;
  display: flex;
  height: $downButtonSize;
  justify-content: center;
  bottom: 24px;
  margin: 0px -12px;
  z-index: 1;

  //noinspection ALL
  &::before,
  &::after {
    content: '';
    width: $downButtonSize;
    height: $downButtonSize;
    background-image: $downButtonImage;
    background-color: transparent;
    background-size: contain;
    background-repeat: no-repeat;
  }

  &::before {
    position: absolute;
    cursor: pointer;
    z-index: 1;
  }

  &::after {
    position: relative;
    animation-duration: 0.9s;
    animation-name: slidein;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
  }

}
