$downButtonWidth: 24px;
$downButtonHeight: 24px;
$downButtonImage: url(../images/down.svg);

[downbutton] {
  position: absolute;
  display: flex;
  width: 100%;
  height: $downButtonHeight;
  justify-content: center;
  pointer-events: none;
  bottom: 24px;

  //noinspection ALL
  &::before,
  &::after {
    content: '';
    width: $downButtonWidth;
    height: $downButtonHeight;
    background-image: $downButtonImage;
    background-color: transparent;
    background-size: contain;
    background-repeat: no-repeat;
  }

  &::before {
    position: absolute;
  }

  &::after {
    position: relative;
    animation-duration: 0.9s;
    animation-name: slidein;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
  }

}
