@import "colors";

.form-container {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  align-self: center;
  margin: auto;

  > #userSubmitForm {
    align-items: center;
    justify-content: center;
    height: 100%;
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 640px;
    margin: auto;

    &>* {
      z-index: 1;
    }

    > .input-container {

      > .email {
        cursor: auto;
      }

    }

    > #userSubmitButton {
      line-height: 2.2;
      width: 100%;
      border: none;
      outline: none;
      font-size: 20px;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;

      &:not([disabled]) {
        background: $complement-color-light;
        color: $white-color;

        &:hover {
          cursor: pointer;
        }
      }

      &:active {
        background: $complement-color-darkest;
      }
    }

  }

}
