@import "colors";

#userSubmitForm {
  align-items: center;
  justify-content: center;
  height: 100%;
  display: flex;
  flex-direction: column;
  width: 100%;

  #userSubmitButton {
    line-height: 2.2;
    background: $complement-color-light;
    width: 100%;
    color: $white-color;
    border: none;
    outline: none;
    font-size: 20px;

    &:hover {
      cursor: pointer;
    }
  }

  #userSubmitButton:active {
    background: $complement-color-darkest;
  }

}

input:invalid {
  box-shadow: none;
  border: 1px solid $complement-color-darkest;
}
