@import "colors";

@mixin opacityStart($opacityStart: 1) {
  opacity: $opacityStart;
}

@mixin opacityHover($opacityEnd: .8) {
  opacity: $opacityEnd;
}

@mixin nice-white-box-shadow() {
  box-shadow: 0 1px 4px $white-color-light, 0 0 40px $white-color inset;
}

@mixin bullet-border($outline: transparent) {
  background-color: $white-color-light !important;
  box-shadow: 0 0 6px .5px hsla(0, 0, 0, .3), 0 0 6px 1px $outline;
}

@mixin ball-size() {
  height: 10px !important;
  width: 10px !important;
}
