$fontSize: 1.074em;

@import "colors";
@import "mixins";
@import "fonts";

page {
  background: inherit;
  display: flex;
  height: 100%;
  position: relative;
  box-sizing: border-box;
  overflow-y: auto;

  .col1 {
    padding: 8px;
  }

  &:not(.active) {
    down-button {
      display: none;
    }
  }

  h-text {
    color: inherit;
    font-size: 3vmax;
    font-weight: 600;
  }

  p,
  ul {
    font-size: $fontSize;
    line-height: 1.5;
    color: $secondary1-color-dark;
    transition: font-size 0.5s;
  }

  ul a,
  .social-buttons a:not(.social-button) {
    background: rgba($white-color-light, 0);
    padding: .25em;
    border-bottom: 1px solid;
    line-height: 1.4;
    text-decoration: none;

    &:hover {
      background: rgba($white-color-light, 1);
      color: $secondary2-color;
    }
  }

}

:not(.promo),
:not(.programmingtools) {
  down-button {
    left: 25%;
  }
}

@import "sections/aboutus";
@import "sections/programmingtools";
@import "sections/promo";
@import "sections/subscribe";
