@import "colors";
@import "mixins";
@import "fonts";

$background-image: '../images/background.png';

[class*="section"] {

  .col1,
  .col2 {
    position: relative;
    box-sizing: border-box;
  }

  .col1 {
    padding: 8px;
  }

  h1 {
    color: $secondary1-color-dark;
    font-size: 5vmax;
  }

  h2 {
    color: $primary-color;
    background: -webkit-linear-gradient(lighten($primary-color, 30%), $primary-color);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: hsla(0, 0%, 0%, 0);
    font-size: 4vmax;
    font-family: $fontMonoFamily;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }

  h3 {
    font-size: 3vmax;
    font-weight: 600;
  }

  p,
  ul {
    font-size: 2vmax;
    line-height: 1.5;
    color: $secondary1-color-dark;
    transition: font-size 0.5s;
  }

  ul a,
  .social-buttons a:not(.social-button) {
    background: rgba($white-color-light, 0);
    border-bottom: 1px solid;
    line-height: 1.4;
    padding: .25em;
    text-decoration: none;

    &:hover {
      background: rgba($white-color-light, 1);
      color: $secondary2-color;
    }
  }

}

.promo {
  background: url($background-image);

  .content {
    flex-direction: column;
    height: 100%;
  }

  .logo-container {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    align-self: center;
    flex: 1;
  }

  h1 {
    max-width: 99vw;
    color: $white-color;
    font-family: $fontDefaultFamily;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  p {
    color: $white-color;
    margin: 0 8px;
  }

  img {
    filter: brightness(0.4);
  }

  .text-container {
    top: 0;
    height: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    width: 100%;
    left: 0;
    right: 0;

    h3 {
      color: $white-color-light;
    }

    .row-container {
      position: relative;
      height: 250px;
      width: 100%;
      top: 24px;
      right: 0;
      left: 0;

      .row1,
      .row2,
      .row3 {
        position: absolute;
        text-align: center;
      }

      .row1 {
        left: 0;
        right: 0;
      }

      .row2,
      .row3 {
        top: 80px;
      }

      .row2 {
        left: 0;
        right: 240px;
      }

      .row3 {
        left: 240px;
        right: 0;
      }
    }

  }

  [downbutton] {
    filter: invert(100%);
  }

}

.gamearkahold {

  .col2 {

    h3 {
      color: $white-color;
      margin: 26px 0;
    }

  }

  [downbutton] {
    right: 25%;
  }

}

.gamebotris {

  h1 {
    color: $white-color-light;
  }

  [downbutton] {
    right: 25%;
  }

}

.game1or2 {

  [downbutton] {
    right: 25%;
  }

}

.todolist {

  [downbutton] {
    right: 25%;
  }

}

.prostodiary {

  [downbutton] {
    right: 25%;
  }

}

.programmingtools {

  [downbutton] {
    right: 25%;
  }

  .col2 {
    background: url($background-image);
    padding: 8px;

    p,
    li {
      color: $white-color;
      font-size: 2vmax;
    }
  }

  h3 {
    color: $primary-color-lightest;
    line-height: 1.5;
    font-size: 1.8vmax;
  }

}

.subscribe {
  background: url($background-image);

  .content {

    .col1 {
      justify-content: space-between;
      display: flex;
      flex-direction: column;

      h2 {
        color: $white-color;
        -webkit-text-fill-color: $white-color;
        text-overflow: ellipsis;
        overflow: hidden;
      }

      .social-buttons {
        display: flex !important;
        flex-direction: row;
        padding: 0.5em 0;
        color: $secondary1-color-lightest;
        overflow-x: auto;
        overflow-y: hidden;

        $social-btn-width: 32px;
        $social-btn-height: 32px;

        .social-button {
          float: left;
          width: $social-btn-width;
          height: $social-btn-height;
          background-repeat: no-repeat;
          background-position: 50% 50%;
          background-size: contain;
          display: block;
          line-height: $social-btn-height;
          text-align: center;
          color: transparent;
          @include opacityStart;

          &:hover {
            @include opacityHover;
          }
        }

        a {
          margin: 0 0.5em;
        }
      }
    }

    .col2 {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      box-sizing: content-box;
      padding: 0 8px;
    }

  }

  footer {
    margin-bottom: .5em;

    p {
      font-size: 14px;
      color: transparentize($white-color, 0.2);
    }
  }

  p {
    line-height: 1.5;
    color: $white-color;
  }

  .button-container {
    padding: 0 8px;
    width: 100%;
  }

  .input-container {
    width: 100%;
    background: $white-color;
    margin: 12px 0;
    margin-bottom: 0;

    label,
    input {
      text-indent: 8px;
    }

    label {
      display: block;
      width: 100%;
      color: $black-color-light;
      line-height: 26px;
      font-size: 14px;
    }

    input {
      display: block;
      line-height: 2;
      width: 100%;
      border: none;
      outline: none;
    }

  }

  .form-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    align-self: center;
    margin: auto;
  }

}
