/* Section 1
 * --------------------------------------- */
#section0 {
  background-color: white;
}

#section0 h1 {
  color: purple;
}

#section0 h2 {
  color: limegreen;
}

#section0 p {
  color: purple;
}

/* Section 2
 * --------------------------------------- */
#section1 {
  background-color: white;
}

#section1 h1 {
  color: purple;
}

#section1 h2 {
  color: limegreen;
}

#section1 p {
  color: purple;
}

/* Section 3
 * --------------------------------------- */
#section2 {
  background-color: #2C3E50;
}

#section2 h1 {
  color: #F2F2F2;
}

#section2 p {
  opacity: 0.6;
}

/*...*/

#section7 {
  background-color: blueviolet;
}
