@import "colors";

@mixin bullet-border($outline: transparent) {
  background-color: $white-color-light !important;
  box-shadow: 0 0 6px 0.5px hsla(0, 0%, 0%, 0.3), 0 0 6px 1px $outline;
}

@mixin ball-size() {
  height: 10px !important;
  width: 10px !important;
}

#fp-nav.right {
  right: 8px !important;
}

.slide {
  background: $black-color;
}

.slide.fp-slide.active {
  z-index: 1;
  position: relative;
}

.swiper-container {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: $white-color-light;
  display: flex;
  justify-content: center;
  align-items: center;

  iframe {
    width: 100%;
    height: 100%;
    position: absolute;
    display: block;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }

  .loading {
    display: none;
  }

}

.swiper-slide-active,
.swiper-slide-next {

  .loading {
    display: block;
  }

}

#fp-nav {

  a > span {
    @include ball-size;
    @include bullet-border($white-color-light);
    background: hsl(0, 0%, 0%);
    opacity: 0.2;

    &:hover {
      opacity: 1;
    }
  }

  a.active > span {
    margin: 0px -2px !important;
    @include bullet-border();
    opacity: 1;
  }

}

span.swiper-pagination-bullet {
  @include ball-size;
  @include bullet-border($white-color-light);
}

span.swiper-pagination-bullet-active {
  @include bullet-border();
}
