@import "colors";
@import "mixins";

#fp-nav.right {
  right: 8px !important;
}

.slide {
  background: $black-color;
}

.slide.fp-slide.active {
  position: relative;
  z-index: 1;
}

.swiper-slide-active,
.swiper-slide-next {

  > .loading {
    display: block;
  }

}

#fp-nav {

  a > span {
    @include ball-size;
    @include bullet-border($white-color-light);
    background: hsl(0, 0%, 0%);
    opacity: 0.2;

    &:hover {
      opacity: 1;
    }
  }

  a.active > span {
    margin: 0px -2px !important;
    @include bullet-border();
    opacity: 1;
  }

}

span.swiper-pagination-bullet {
  @include ball-size;
  @include bullet-border($white-color-light);
}

span.swiper-pagination-bullet-active {
  @include bullet-border();
}
