@import "colors";
@import "mixins";
@import "fonts";

.social-buttons {

  .google-plus-sprite {
    background-image: url(../images/vendors/google-plus-logo.png);
  }

  .twitter-sprite {
    background-image: url(../images/vendors/twitter-logo.png);
  }

  .trello-sprite {
    background-image: url(../images/vendors/trello-logo.png);
  }

  .github-sprite {
    background-image: url(../images/vendors/github-social-logo.png);
  }

}

.social-buttons {
  display: flex !important;
  flex: 1;
  flex-direction: row;
  padding: 8px 0;
  width: 100%;
  color: $secondary1-color-lightest;
  overflow-x: auto;
  overflow-y: hidden;
  align-self: flex-start;
  align-items: flex-end;

  $social-btn-width: 32px;
  $social-btn-height: 32px;

  .social-button {
    display: block;
    float: left;
    width: $social-btn-width;
    height: $social-btn-height;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: contain;
    line-height: $social-btn-height;
    text-align: center;
    color: transparent;
    @include opacityStart;

    &:hover {
      @include opacityHover;
    }
  }

  > a {
    margin: 0 .5em;

    &:first-child {
      margin-left: 0;
    }

    &:last-child {
      margin-right: 0;
    }

  }

}
