@import "colors";

$myBackground: url(../images/background.png);
$margin-swiper: 24px;

@import "animations/_loading-animation";

.swiper-container-horizontal > .swiper-pagination-progress {
  top: calc(100% - 8px) !important;
  height: 8px !important;
}

span.swiper-pagination-progressbar {
  background-color: $primary-color-light !important;
}

.swiper-container {
  width: 50%;
  height: 100%;
  background: $myBackground;

  > .swiper-pagination {
    bottom: $margin-swiper !important;

    &.swiper-pagination-clickable {

      &.swiper-pagination-bullets span {
        position: relative;
        z-index: 1;
      }

      &.swiper-pagination-bullets::after {
        content: '';
        position: absolute;
        display: block;
        background: $myBackground;
        left: 0;
        right: 0;
        top: -$margin-swiper;
        bottom: -$margin-swiper;
        z-index: 0;
        opacity: .2;
        pointer-events: none;
      }

    }

  }
}

.swiper-wrapper {

  .swiper-slide {
    display: flex;
    text-align: center;
    font-size: 18px;
    background: none;
    justify-content: center;
    align-items: center;

    .full-image-cover {
      position: absolute;
      object-fit: contain;
      left: 0;
      top: 0;
      margin: 0;
    }

    > .loading {
      @extend .loading-animation;
      display: none;
    }

    iframe {
      position: absolute;
      display: block;
      width: 100%;
      height: 100%;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
    }

  }

}
