$margin-swiper: 24px;
$myBackground: url(../images/background.png);

.swiper-slide {
  background: none;
}

.swiper-container {
  background: $myBackground;
}

.swiper-container-horizontal > .swiper-pagination-progress {
  top: calc(100% - 8px) !important;
  height: 8px !important;
}

.swiper-pagination {
  bottom: $margin-swiper !important;

  &.swiper-pagination-clickable {

    &.swiper-pagination-bullets span {
      position: relative;
      z-index: 1;
    }

    &.swiper-pagination-bullets::after {
      content: '';
      position: absolute;
      display: block;
      background: $myBackground;
      left: 0;
      right: 0;
      top: -$margin-swiper;
      bottom: -$margin-swiper;
      z-index: 0;
      opacity: .2;
      pointer-events: none;
    }

  }

}
