@import "reset";
@import "sections";
@import "colors";
@import "downbutton";
@import "./columns/columns";
@import "default_tags";
@import "animations";

.content {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  height: 100%;
  display: flex;
}

img.full-image-cover {
  position: absolute;
  object-fit: cover;
}

.fill-inside-content {
  margin: -8px;
}

#fp-nav.right {
  right: 8px !important;
}

#userSubmitForm {
  align-items: center;
  justify-content: center;
  height: 100%;
  display: flex;
  flex-direction: column;
  width: 100%;

  #userSubmitButton {
    line-height: 4;
    background: $complement-color-light;
    width: 100%;
    color: $white-color;
    border: none;
    outline: none;
  }

  #userSubmitButton:active {
    background: $complement-color-darkest;
  }

}

input:invalid {
  box-shadow: none;
  border: 1px solid $complement-color-darkest;
}

#fp-nav ul li a span,
.fp-slidesNav ul li a span {
  background: $white-color !important;
  box-shadow: 0 0 6px 0.5px hsla(0, 0%, 0%, 0.3);
}

strong {
  color: $white-color;
}

.loading-container {
  display: block;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  z-index: 101;
  background: $white-color;
  transition: all 1s;
}

body.is-loading {

  .loading-container {
    pointer-events: all;
  }

  main {
    visibility: hidden;
  }

}

body.ready {
  .loading-container {
    pointer-events: none;
    background: transparent;

    .loading {
      display: none;
    }
  }
}

.loading {
  z-index: 9;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%);
  height: 25px;
  width: 10px;
  border-radius: 10%;
  background: $white-color;
  animation: fade2 1s infinite;
  transition: background .2s;

  &:after,
  &:before {
    content: '';
    position: absolute;
    display: block;
    height: 20px;
    width: 10px;
    background: $white-color;
    top: 50%;
    transform: translateY(-50%);
    left: -15px;
    border-radius: 10%;
    animation: fade1 1s infinite;
    transition: background .2s;
  }

  &:before {
    left: 15px;
    animation: fade3 1s infinite;
  }

}


.slide {
  background: hsl(0, 0%, 0%);
}

.slide.fp-slide.active {
  z-index: 1;
  position: relative;
}
