@import "reset";
@import "sections";
@import "colors";
@import "downbutton";
@import "./columns/columns";
@import "default_tags";
@import "loading";
@import "slides";
@import "forms";
@import "swiper-pagination";
@import "../vendors/fullPage/javascript.fullPage";
@import "../vendors/swiper/swiper";
@import "../vendors/YT-Lazy/YT-Lazy";
@import "mixins";

.content {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  height: 100%;
  display: flex;
}

img.full-image-cover {
  position: absolute;
  object-fit: contain;
  left: 0;
  top: 0;
  margin: 0;
}

.append-buttons {
  text-align: center;
  margin-top: 20px;

  a {
    display: inline-block;
    border: 1px solid $secondary2-color;
    color: $secondary2-color;
    text-decoration: none;
    padding: 4px 10px;
    border-radius: 4px;
    margin: 0 10px;
    font-size: 13px;
  }
}

.text-logo {
  z-index: 1;
  transition: text-shadow 0.1s ease-in-out;
  will-change: text-shadow;
  text-align: center;
  text-rendering: optimizeLegibility;
  font-weight: 700;
  letter-spacing: 0.1em;
}

.text-logo-description {
  text-shadow: 0 0 15px hsla(0, 0%, 0%, 0.6);
  line-height: 1.5em !important;
}

.buttons {
  display: flex;

  a {
    display: inherit;
    float: left;
    text-decoration: none;
    align-items: center;
  }

  span {
    vertical-align: middle;
  }

  img {
    height: 28px;
    @include opacityStart;
    border: 1px solid $white-color-light;
    border-radius: 3px;

    &:hover {
      @include opacityHover;
      border-color: transparentize($white-color, 0.2);
    }
  }

  & > * {
    padding: 0.2em 0.4em 0 0;
  }

}

.pre-line {
  white-space: pre-line;
}

.google-plus-sprite {
  background-image: url(../images/vendors/google-plus-logo.png);
}

.twitter-sprite {
  background-image: url(../images/vendors/twitter-logo.png);
}

.trello-sprite {
  background-image: url(../images/vendors/trello-logo.png);
}

.github-sprite {
  background-image: url(../images/vendors/github-social-logo.png);
}
