.aboutus {

  > [downbutton] {
    left: 75%;
  }

  .col1 {
    p {
      color: $white-color;
    }
  }

  .menu {

    > .menu-item {

    }

    > .menu-item h3 {
      line-height: inherit;
      font-size: initial;
    }

    > .menu-item ul li:before {
      content: '> ';
    }

  }
}
