$background-image: '../images/background.png';
$fontSize: 1.074em;
@import "../colors";
@import "../mixins";
@import "../fonts";

[class*="section"] {

  .col1,
  .col2 {
    position: relative;
    box-sizing: border-box;
    overflow: auto;
  }

  .col1 {
    padding: 8px;
  }

  h1 {
    color: $secondary1-color-dark;
    font-size: 5vmax;
  }

  h2 {
    color: $primary-color;
    background: -webkit-linear-gradient(lighten($primary-color, 30%), $primary-color);
    -webkit-background-clip: text;
    //noinspection CssInvalidPropertyValue
    background-clip: text;
    -webkit-text-fill-color: hsla(0, 0%, 0%, 0);
    font-size: 4vmax;
    font-family: $fontMonoFamily;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }

  h3 {
    color: inherit;
    font-size: 3vmax;
    font-weight: 600;
  }

  p,
  ul {
    font-size: $fontSize;
    line-height: 1.5;
    color: $secondary1-color-dark;
    transition: font-size 0.5s;
  }

  ul a,
  .social-buttons a:not(.social-button) {
    background: rgba($white-color-light, 0);
    padding: .25em;
    border-bottom: 1px solid;
    line-height: 1.4;
    text-decoration: none;

    &:hover {
      background: rgba($white-color-light, 1);
      color: $secondary2-color;
    }
  }

}

:not(.promo) {
  [downbutton] {
    left: 25%;
  }
}
