@import "../colors";
@import "../fonts";

$fontSize: 1.074em;

.programmingtools {

  h3 {
    color: $primary-color-lightest;
    line-height: 1.5;
    font-size: 1.8vmax;
  }

  .col2 {
    padding: 8px;

    ul {
      overflow: auto;
      margin-right: 1rem;
      max-height: calc(100% - 4rem);
    }

    p,
    li {
      color: $white-color;
      font-size: $fontSize;
    }

    li {
      white-space: pre;
      //noinspection CssInvalidPropertyValue
      overflow: -webkit-paged-y;
    }
  }

}
