$fontSize: 1.074em;
@import "../colors";
@import "../mixins";
@import "../fonts";

.subscribe {
  padding: 8px;

  .content {
    flex-direction: column !important;
  }

  h2 {
    color: $white-color;
    -webkit-text-fill-color: $white-color;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  footer {
    margin-bottom: .5em;

    p {
      font-size: .8571em;
      color: transparentize($white-color, 0.2);
    }

  }

}

.start-anchor {
  color: $white-color-light;
  text-decoration: none;
  z-index: 1;

  > .text-logo-description {
    color: inherit;
    text-shadow: 0 0 16px hsla(0, 0%, 0%, 0.6);
    line-height: 1.5em !important;
    font-family: $fontMonoFamily;
  }

}
