$fontSize: 1.074em;
@import "../colors";
@import "../mixins";
@import "../fonts";

.subscribe {

  > .content .col1 {
    display: flex;
    justify-content: space-between;
    flex-direction: column;

    h2 {
      color: $white-color;
      -webkit-text-fill-color: $white-color;
      text-overflow: ellipsis;
      overflow: hidden;
    }

  }

  > .content .col2 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: content-box;
    padding: 0 8px;

    footer {
      margin-bottom: .5em;

      p {
        font-size: .8571em;
        color: transparentize($white-color, 0.2);
      }

    }

  }

}
