@import "../_colors";

$scaleTransitionTime: 1.4s;

[class*="shake"] {
  transition: all 0.3s cubic-bezier(0, -0.1, 0.6, 1.1);
  transform: initial;
  opacity: .3;
}

.shake-up {
  transform: translateY(-6px);
}

.shake-down {
  transform: translateY(6px);
}

.active {

  &.shake-up {
    transform: translateY(0);
    opacity: 1;
  }

  &.shake-down {
    transform: translateY(0);
    opacity: 1;
  }

  &.scale-up {
    animation-name: scale-up;
    animation-duration: $scaleTransitionTime;
  }

  &.scale-down {
    animation-name: scale-down;
    animation-duration: $scaleTransitionTime;
  }

}

@keyframes scale-up {
  from {
    transform: scale(0.5);
  }

  to {
    transform: scale(1.0);
  }
}

@keyframes scale-down {
  from {
    transform: scale(1.0);
  }

  to {
    transform: scale(0.9);
  }
}

@keyframes slidein {
  from {
    margin-top: 0;
    opacity: 1.0;
  }

  to {
    margin-top: 24px;
    opacity: 0;
  }
}

@mixin nice-white-box-shadow() {
  box-shadow: 0 1px 4px $white-color-light, 0 0 40px $white-color inset;
}

@keyframes fade1 {
  0% {
    @include nice-white-box-shadow;
    background: $secondary2-color;
  }
}

@keyframes fade2 {
  33% {
    @include nice-white-box-shadow;
    background: $secondary2-color;
  }
}

@keyframes fade3 {
  66% {
    @include nice-white-box-shadow;
    background: $secondary2-color;
  }
}
