@import "../_colors";
@import "./scale-down";
@import "./scale-up";
@import "./slidein";

$scaleTransitionTime: 1.4s;

[class*="shake"] {
  transition: all 0.3s cubic-bezier(0, -0.1, 0.6, 1.1);
  transform: initial;
  opacity: .3;
}

.shake-up {
  transform: translateY(-6px);
}

.shake-down {
  transform: translateY(6px);
}

.active {

  &.shake-up {
    transform: translateY(0);
    opacity: 1;
  }

  &.shake-down {
    transform: translateY(0);
    opacity: 1;
  }

  &.scale-up {
    animation-name: scale-up;
    animation-duration: $scaleTransitionTime;
  }

  &.scale-down {
    animation-name: scale-down;
    animation-duration: $scaleTransitionTime;
  }

}
