@import "../_colors";
@import "../_mixins";

@keyframes fade1 {
  0% {
    @include nice-white-box-shadow;
    background: $secondary2-color;
  }
}

@keyframes fade2 {
  33% {
    @include nice-white-box-shadow;
    background: $secondary2-color;
  }
}

@keyframes fade3 {
  66% {
    @include nice-white-box-shadow;
    background: $secondary2-color;
  }
}
