@import "../_colors";
@import "../_mixins";
@import "animations";

$height: 26px;
$width: 10px;

.loading-animation {
  display: block;
  position: absolute;
  z-index: 9;
  height: $height;
  width: $width;
  border-radius: 10%;
  background: $white-color;
  animation: fade2 1s infinite;
  transition: background .2s;

  &:after,
  &:before {
    position: absolute;
    display: block;
    content: '';
    height: $height;
    width: $width;
    background: $white-color;
    top: 50%;
    transform: translateY(-50%);
    left: -15px;
    border-radius: 10%;
    animation: fade1 1s infinite;
    transition: background .2s;
  }

  &:before {
    left: 15px;
    animation: fade3 1s infinite;
  }

}


@keyframes fade1 {
  0% {
    @include nice-white-box-shadow;
    background: $secondary2-color;
  }
}

@keyframes fade2 {
  33% {
    @include nice-white-box-shadow;
    background: $secondary2-color;
  }
}

@keyframes fade3 {
  66% {
    @include nice-white-box-shadow;
    background: $secondary2-color;
  }
}
