@import "../colors";

.content {
  flex-direction: row;
}

.section0 {
  .col1 {
    height: 100vh;
  }
}

.col1 {
  width: 50%;
  height: 100%;
  overflow: hidden;
}

.col2 {
  width: 50%;
  height: 100%;
  overflow: hidden;
}

img.full-image-cover {
  height: 100%;
  width: 100%;
}

[class*="section"] {

  h2 {
    line-height: 1.5;
  }

  h3 {
    line-height: 3;
  }

}
