.content {
  flex-direction: row;
}

.section0 {
  .col1 {
    height: 100vh;
  }
}

.col1,
.col2 {
  width: 50%;
  height: 100%;
}

.swiper-container {
  width: 50%;
}

[class*="section"] {

  h2 {
    line-height: 1.5;
  }

  h3 {
    line-height: 3;
  }

}

.swiper-wrapper {
  height: 100%;
}
