/* portrait */
.content {
  flex-direction: column;
}

.col1 {
  width: 100%;
  height: initial;
  overflow: hidden;
  position: relative;
}

.col2 {
  width: 100%;
  height: initial;
  overflow: hidden;
  flex: 1;
  position: relative;
}

img.full-image-cover {
  height: 100%;
  width: 100%;
}

[downbutton] {

  &::before,
  &::after {
    background-color: white !important;
  }

  right: 0 !important;
}
