.content {
  flex-direction: column;
}

.section0 {
  .col1 {
    height: initial;
  }
}

.col1 {
  position: relative;
  width: 100%;
  height: initial;
  overflow: hidden;
}

.col2 {
  position: relative;
  width: 100%;
  height: initial;
  overflow: hidden;
  flex: 1;
}

.swiper-container {
  width: 100%;
}

[downbutton] {
  left: 50% !important;
  filter: invert(100%);
}

[class*="section"] {

  h2 {
    line-height: 1.5;
  }

  h3 {
    line-height: 1.5;
  }

}

// iPhone hack
@media only screen and (max-device-width: 480px), only screen and (min-device-width: 560px) and (max-device-width: 1136px) and (-webkit-min-device-pixel-ratio: 2) {
  .swiper-wrapper {
    max-height: calc(50% + 120px);
  }
}
