page {
  flex-direction: column;

  .col1 {
    position: relative;
    width: 100%;
    height: initial;
    overflow: hidden;
  }

  .col2 {
    position: relative;
    width: 100%;
    height: initial;
    overflow: hidden;
    flex: 1;
  }

  h2 {
    line-height: 1.5;
  }

  h3 {
    line-height: 1.5;
  }

  down-button {
    left: 50% !important;
    filter: invert(100%);
  }
}
